.appmenu {
    width: 1200px;
    height: 90px;

    background-color: #96C7ED;

    opacity: 0.8;

    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0;
    z-index: 999;
}

.appmenulogo {
    width: 200px;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    .appmenulogo > a  {
        width: 150px;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

.appmenubutton {
    width: calc(100% - 320px);
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
    .appmenubutton > a {
        width: 100px;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

.appmenuatag {
    text-decoration: none;
    font-family: 'bitbit';
    font-size: 25px;
    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.appmenuatag:hover {
    color: red;
}

.dailyrecordicon {
    width: 45px;
    height: 45px;

    background-image: url('../Assets/calendar.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: none;
}
.mystudyrecordicon {
    width: 45px;
    height: 45px;

    background-image: url('../Assets/document.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: none;
}
.myprojecticon {
    width: 45px;
    height: 45px;
    
    background-image: url('../Assets/project.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: none;
}

.membermenubutton {
    width: 120px;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
    .usericon {
        width: 50px;
        height: 50px;

        background-image: url('../Assets/userB.png');
        background-size: 50px 50px;

        display: none;
    }
    .usericon:hover {
        background-image: url('../Assets/userW.png');
    }

@media screen and (max-width: 1200px) {
    .appmenu {
        width: 90%;
        height: 80px;
    }
    .appmenulogo {
        width: 70px;
    }
    .appmenubutton {
        width: calc(100% - 125px);
    }
    .membermenubutton {
        width: 55px;
    }
    .appmenuatag {
        font-size: 21px;
    }
    .appmenuatag > p {
        display: none;
    }
    .usericon {
        display: block;
    }
    .dailyrecordicon {
        display: block;
    }
    .mystudyrecordicon {
        display: block;
    }
    .myprojecticon {
        display: block;
    }
}