.dailyrecord {
    width: 1200px;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dailyrecordboard {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #7DA5E1;
}

.dailyrecordutil {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
    .dailyrecordpagenation {
        width: 100%;
        height: 100%;

        background-color: #dcdcdc;
        border-radius: 5px;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        align-items: center; 
    }    
        .month {
            width: 70px;
            height: 100%;

            border-radius: 5px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            margin: 3px;

            /* font-family: 'bitbit'; */
            font-weight: 700;
            font-size: 20px;
        }  
        .month:hover {
            background-color: #bebebe;
        }
        .month:active {
            color: red;
        }

    .dailyrecordwritebtu {
        width: 100px;
        height: 60px;

        margin-top: 10px;

        background-color: #dcdcdc;
        border-radius: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        /* font-family: 'bitbit'; */
        font-weight: 700;
        font-size: 25px;
    }
        .dailyrecordwritebtu:hover {
            background-color: #bebebe;
        }
        .dailyrecordwritebtu:active {
            color: red;
        }
        .writeicon {
            width: 64px;
            height: 64px;
    
            /* background-image: url('../assets/write.png'); */
            background-size: 64px 64px;
        }

.dailyrecorditems {
    width: 95%;
    height: 100%;
    
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
    .dailyrecorditem {
        width: 95%;
        height: 100%;
    
        margin-top: 10px;

        padding: 10px;

        background-color: white;
        border-radius: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .dailyrecorditeminfo1 {
        width: 60%;
        height: 100%;
        font-size: 25px;

        font-weight: 700;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .dailyrecorditeminfo2 {
        width: 20%;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .dailyrecorditeminfo3 {
        width: 20%;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .dailyrecorditem:hover {
        background-color: #dcdcdc;
    }
    .dailyrecorditem:active > p {
        color: red;
    }


@media screen and (max-width: 1200px) {
    .dailyrecord {
        width: 90%;
    }

    .dailyrecorditem {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .dailyrecorditeminfo1 {
        width: 100%;
        margin: 3px;
    }

    .dailyrecorditeminfo2 {
        width: 100%;
        text-align: left;
        margin: 3px;
    }
    .dailyrecorditeminfo3 {
        width: 100%;
        text-align: left;
        margin: 3px;
    }
}

/* @media screen and (max-width: 400px) {
    .dailyrecordutil {
        height: 100px;
    } 
    .dailyrecordpagenation {
        height: 80px;
    }    
        .dailyrecordpagenation > div {
            height: 60px;
        }    
    .dailyrecordwritebtu {
        height: 80px;
    }
    
    .dailyrecordpagenation > div {
        font-size: 20px;
    }    
        .year {
            font-size: 13px;
        }

    .writeicon {
        width: 51px;
        height: 51px;

        background-size: 51px 51px;
    }
} */