.recordeditor {
    width: 1200px;
    height: 100%;

    margin-top: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.recordeditorboard {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    background-color: #7DA5E1;
}

.recordeditorutil {
    width: 90%;
    height: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    .recordeditordesc {
        width: 80%;
        height: 100px;

        background-color: #dcdcdc;
        border-radius: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }    
        .recordeditordesc > div {
            width: 50%;
            height: 80px;

            background-color: #dcdcdc;
            border-radius: 5px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            margin: 3px;

            font-family: 'bitbit';
            font-size: 25px;
        }    
        .recordeditordesc > div:nth-child(1) {
            font-size: 50px;
        }   
        .recordeditordesc > div:hover {
            background-color: #bebebe;
        }
        .todaytime {
            color: #E56D29;
            margin: 5px;
        }


    .recordeditorwritebtu {
        width: 20%;
        height: 100px;

        margin-left: 20px;

        background-color: #dcdcdc;
        border-radius: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-family: 'bitbit';
        font-size: 25px;
    }
    .recordeditorwritebtu:hover {
        background-color: #bebebe;
    }
        .writeicon {
            width: 64px;
            height: 64px;

            background-image: url('../assets/write.png');
            background-size: cover;
            background-repeat: no-repeat;

            border-radius: 5px;
        }

.recordeditoritems {
    width: 90%;
    height: 100%;

    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
    .recordeditorinputtitle {
        width: 90%;
        height: 50px;
    
        margin-top: 5px;

        background-color: white;
        border-radius: 5px;

        font-family: 'bitbit';
        font-size: 25px;

        border: none;
    }
    .recordeditorinputtext {
        width: 90%;
        height: 800px;
    
        margin-top: 5px;

        background-color: white;
        border-radius: 5px;

        font-family: 'bitbit';
        font-size: 25px;

        border: none;

    }

@media screen and (max-width: 1200px) {
    .recordeditor {
        width: 90%;
    }

    .recordeditordesc > div {
        font-size: 120%;
    }    

    .recordeditordesc > div:nth-child(1) {
        font-size: 200%;
    }   
}

@media screen and (max-width: 900px) {
    .recordeditorwritebtu {
        flex-direction: column;
    }
    .deleteicon {
        width: 45px;
        height: 45px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .updateicon {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 400px) {
    .writeicon {
        width: 51px;
        height: 51px;

        background-size: 51px 51px;
    }
}