.default_icon {
    width: 64px;
    height: 64px;

    background-repeat: no-repeat;
    background-size: cover;
}

.language_icon {
    background-image: url('../styles/images/coding-language.png');
}

.js_icon {
    background-image: url('../styles/images/js.png');
}
.html_icon {
    background-image: url('../styles/images/html.png');
}
.css_icon {
    background-image: url('../styles/images/css.png');
}

.firebase_icon {
    background-image: url('../styles/images/firebase.png');
}

.react_icon {
    width: 75px;
    height: 64px;

    background-image: url('../styles/images/react.png');
}
.algorithm_icon {
    background-image: url('../styles/images/algorithm.png');
}
.project_icon {
    background-image: url('../styles/images/upcycling.png');
}
