.default_icon {
    width: 64px;
    height: 64px;

    background-repeat: no-repeat;
    background-size: cover;
}
.default2_icon {
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-size: cover;
}
.html_icon {
    background-image: url('../styles/images/html.png');
}
.css_icon {
    background-image: url('../styles/images/css.png');
}
.js_icon {
    background-image: url('../styles/images/js.png');
}
.ts_icon {
    background-image: url('../styles/images/typescript.png');
}
.react_icon {
    background-image: url('../styles/images/react.svg');
}
.next_icon {
    background-image: url('../styles/images/nextjs.png');
}
.redux_icon {
    background-image: url('../styles/images/redux.png');
}
.firebase_icon {
    background-image: url('../styles/images/firebase.png');
}

/* .language_icon {
    background-image: url('../styles/images/coding-language.png');
}
.algorithm_icon {
    background-image: url('../styles/images/algorithm.png');
}
.project_icon {
    background-image: url('../styles/images/upcycling.png');
} */
