.home {
    width: 1200px;
    height: 100vh;

    margin-top: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.hometitle {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #7DA5E1;
}

.hometitle > p {
    font-family: 'bitbit';
    font-size: 30px;
}