.login {
    width: 1200px;
    height: 500px;

    margin-top: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginform {
    width: 650px;
    height: 330px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #6C7275;
    border-radius: 30px;

    margin-top: 100px;
}
    .loginform > p {
        font-family: 'bitbit';
        font-size: 40px;

        margin-top: 30px;
        margin-bottom: 20px;
    }
    .input {
        width: 500px;
        height: 50px;

        margin: 5px;
    }
    .input > input {
        width: 100%;
        height: 100%;

        border: none;
        border-radius: 15px;
        background-color: #9DA5AB;

        text-align: center;

        font-family: 'bitbit';
        font-size: 20px;
    }
    .submitbutton {
        width: 100px;
        height: 50px;

        margin-top: 20px;

        background-color: #BEC8CF;
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-family: 'bitbit';
        font-size: 25px;
    }
    .submitbutton:hover {
        color: red;
    }

@media screen and (max-width: 1000px) {
    .login {
        width: 100%;
    }
    .loginform {
        width: 100%;
    }
        .input {
            width: 90%;
        }
}