.mystudyrecord {
    width: 1200px;
    height: 100%;

    margin-top: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.mystudyrecordboard {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    background-color: #7DA5E1;
}


.mystudyrecordutil {
    width: 90%;
    height: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;

}
    .mystudyrecordpagenation {
        width: 800px;
        height: 120px;

        background-color: gray;
    }    

.mystudyrecorditems {
    width: 90%;

    margin-top: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    .mystudyrecorditem {
        width: 235px;
        height: 260px;
    
        margin: 5px;

        background-color: aquamarine;
    }
